#
# define code ownership for this repository
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# It's possible to add groups as well but they need to be added to the
# repository and assigned a permission level first. Otherwise they will
# be underlined with red squiggly lines when looking at the file in the
# WebGUI and it won't work.
# (GitHub -> Repository -> Settings -> Collaborators)
#

# define default ownership
* @feeph
